<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}網站名稱{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %} <!-- 這裡可以放特定頁面的 CSS --> {% endblock %}
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script> <!-- 引入 JavaScript 檔案 -->
</head>
<body>
    <!-- 側邊選單 -->
    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
        <a href="/">AI繪圖</a>
        <a href="/remove-bg">照片去背</a>
        <a href="/upload_photos">模型訓練</a>
        <a href="/generate-lora">模型生圖</a>
    </div>

    <!-- 主體內容 -->
    <div class="container">
        <!-- 開啟選單按鈕 -->
        <span style="font-size:30px;cursor:pointer" onclick="openMenu()">&#9776;</span>

        <!-- 具體頁面的內容會插入到這裡 -->
        {% block content %}{% endblock %}
    </div>

    {% block extra_js %} <!-- 這裡可以放特定頁面的 JS --> {% endblock %}
</body>
</html>
